body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blur-background {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.header {
  margin-bottom: 1.5rem;
}

.header-logo {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

card h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

card p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #666;
}

card button {
  background-color: rgba(220, 212, 207, 0.49);
  border: none;
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  transition: background-color 0.3s ease;
}

card button:hover {
  cursor: pointer;
  background-color: rgba(173, 169, 166, 0.743);
}